.adverts1{
  margin-top: 30px;
  margin-bottom: 30px;
  .content {
    position: relative;
    img{
      max-width: 100%;
    }
    .ads{
      margin-bottom: 30px;

    }
    a.button {
      position: absolute;
      right: 30px;
      bottom: 0;
      width: auto;
    }
  }
}

@media (max-width: 767px) {
  .adverts1 {
    .content {
      a.button {
        padding: 5px 15px;
        height: 30px;
        right: 10px;
        bottom: -12px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .ads {
    display: flex;
    justify-content: center;
  }
}