.sliderHeader{
  padding-top: 20px;
  padding-bottom: 20px;
  h3{
    color: #30343F;
    font-size: 23px;
    line-height: 26px;
    font-weight: 100;
    display: flex;
    strong{
      font-weight: 900;
    }
    span{
      font-weight: 900;
      &.green{
        color:#08CB7B;
      }
      &.red{
        color: #FF0046;
      }
      &.blue{
        color: #1C8DD5;
      }
    }
  }
  .dropdown{
    display: inline-block;
    button{
      color: #E40000;
      font-size: 14px;
      -webkit-appearance: none;
      border: none;
      display: inline-block;
    }
  }
  h5{
    color: #30343F;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
  }
  a{
    font-size: 14px;
    color: #FF5432;
    font-weight: 900;
    position: relative;
  }
}
.book-slider, .book-cards{
  .slick-slide{
    margin: 10px;
  }
  .card{
    border-radius: 0;
    margin-bottom: 30px;
    .hearth{
      border: 1px solid white;
      width: 30px;
      height: 30px;
      background: white;
      display: block;
      padding: 4px 6px;
      color: #2E294E;
      position: relative;
      span{
        width: 0;
        display: none;
        transition: all 0.3s ease-in-out;
        position: absolute;
        left: 30px;
        top: -1px;
        padding: 3px 6px;
        background: white;
        z-index: 99;
        font-weight: 300;
      }
      &:hover{
        color: #FF5432;
        width: auto;
        span{
          width: 105px;
          display: block;
        }
      }
      &.active{
        background: #A90000;
        border-color: #A90000;
        color: white;
        .fa{
          &:before{
            content: "\f004";
          }
        }
        &:hover{
          width: 30px;
          background: #fff;
          border: 1px solid #A90000;
          color: #A90000;
          span{
            display: none;
          }
        }
      }
    }
  }
  .card-body{
    padding-bottom: 0;
    text-align: center;
    padding-top: 5px;
    p{
      color: #30343F;
      font-size: 11px;
      line-height: 16px;
      font-weight: 300;
      margin-bottom: 2px;
    }
    h5{
      font-size: 14px;
      line-height: 18px;
      color: #30343F;
      font-weight: 900;
    }
    .card-title{
      margin-bottom: 25px;
    }
  }
  .card-footer {
    margin: 0 -14px;
    padding: 0 20px;
    border-top: 1px solid #E5E5E5;
    background: transparent;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    .price {
      font-size: 14px;
      color: #7E0A14;
      font-weight: 900;
    }
  }
}
.arrowSection{
  background: #ECF0F1;
  padding: 0 30px;
  .slickArrows{
    display: flex;
    justify-content: center;
    align-items: center;
    .slick-arrow{
      position: static;
      transform: none;
      width: 60px;
      height: 45px;
      background: white;
      margin: 5px;
      font: normal normal normal 0 FontAwesome
    }
    .slick-next{
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        color: #E40000;
        font-size: 20px;
        content: "\f105";
      }
    }
    .slick-prev{
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        color: #E40000;
        font-size: 20px;
        content: "\f104";
      }
    }
  }

  .see-all-button {
    margin-left: 90px;

    a {
      font-size: 14px;
      font-weight: 900;
      white-space: nowrap;
      padding: 15px 0;
    }
  }

}