.breadcrumbs{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  a{
    color: #30343F;
    font-size: 11px;
    font-weight: 300;
  }
  .breadcrumb_last{
    color:#E40000;
  }
}