.comments{
  margin-top: 50px;
  margin-bottom: 30px;
  h2{
    text-align: center;
    margin-bottom: 40px;
  }
  .slide{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    margin: 15px 15px 40px 15px;
    padding: 20px 30px;
    width: auto!important;
  }
}

.stars {
  width: 82px;
  height: 13px;
  margin-left: 5px;
  display: inline-block;
  margin-right: 10px;
  background-image: url('../img/stars-empty.svg');
  .dis {
    background-repeat: no-repeat;
    content: "";
    display: block;
    background-image: url('../img/stars.svg');
    width: 100%;
    height: 13px;
    margin-top: 1px;
  }
}