.footer-basic {
  padding: 40px 0;
  background-color: #ECF0F1;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-clean {
  padding-top: 50px;
  background-color: #ECF0F1;
  color: #4b4c4d;
  position: relative;

  .social {
    position: relative;
  }

  .social-icons {
    position: absolute;
    bottom: 53px;
    transform: translateX(-130px);

    a {
      margin: 0 25px;
      padding: 0;
    }
  }
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 14px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}
.footer-clean ul a:hover {
  color: #FF5432;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-clean {
    .item.logistic-partners {
      position: static;
    }
  }  
}

@media (max-width: 767px) {
  .footer-clean .item.social {
    text-align: center;
  }

  .footer-clean .social-icons {
    position: static;
    transform: none;
    margin-top: 30px;

    a {
      margin: 0 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-clean .social-icons {
    position: absolute;
    transform: none;
    margin-top: 30px;
    right: 30px;

    a {
      margin: 0 15px;
    }
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
  width: 100%;
  background-color: #fff;
  &>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #30343F;
  }
  p{
    line-height: 26px;
    font-size: 14px;
    margin-bottom: 0;
  }
  a{
    color: inherit;
    &:hover{
      color: #FF5432;
    }
  }

  .container {
    img {
      width: 87px;
      height: 30px;
    }
  }
}

.footer-content {
  position: relative;

  .logistic-partners {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}