.nav.nav-tabs.sub-menu {
  background: #30343f;
}

.navbar-light .navbar-brand {
  color: #7e0a14;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  width: 160px;
}

.header {
  background-color: #eceff1;
}

.la.la-shopping-cart {
  font-size: 40px;
  line-height: 40px;
}

.fa.fa-angle-down {
  color: #e40000;
}

.sub-menu .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border: none;
}

.sub-menu .nav-link.active {
  color: #ff5432;
  background: transparent;
  border: none;
}

.sub-menu .nav-link:hover {
  color: #ff5432;
  border: none;
}

@media (max-width: 1199px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .col-md-9 {
    padding-right: 0;
      padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto";
}

.nav-tabs.main-nav .nav-item {
  flex-grow: 1;
  text-align: initial;
}

.nav-tabs.main-nav .nav-link {
  color: #30343f;
  font-weight: 900;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  border-collapse: collapse;
}

.nav-tabs.main-nav .nav-link:hover {
  color: #ff5432;
}

.nav-tabs.main-nav .nav-link.active {
  color: #ff5432;
  border-bottom: 2px solid #ff5432;
}

.navbar-nav {
  width: 100%;
  position: relative;

  .nav-item:first-child {
    margin: 0 16px 0 40px;
  }

  #navbar-item-third {
    margin-left: 30px;
    position: relative;
    display: inline-block;
  }

  .dropdown-basket {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    flex-direction: column;
    left: -100px;
    width: 260px;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 10px;

    .dropdown-basket-product {
      display: flex;
      align-items: center;
      padding: 5px 0;
      border-bottom: 1px solid #e5e5e5;

      img {
        width: 40px;
        height: 59px;
      }

      button {
        height: 30px;
        width: 30px;
        background: none;
        border: none;
      }

      button:hover path {
        fill: #7e0a14;
      }

      .dropdown-basket-product-text {
        margin-left: 10px;

        a {
          font-size: 14px;
          font-weight: 900;
          line-height: 2px;
        }
      }
    }

    .dropdown-basket-delivery {
      background: #ecf0f1;
      margin-top: 10px;
      padding: 30px 30px 22px 20px;
      text-align: right;

      p {
        font-size: 14px;
        font-weight: 300;
      }

      span {
        font-weight: 900;
      }

      img {
        margin-bottom: 6px;
      }
    }

    .dropdown-basket-buy {
      height: 45px;
      margin-top: 10px;
      display: grid;
      grid-template-columns: 35% 65%;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }

      .price {
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        font-weight: 300;
      }

      .dropdown-basket-buy-box {
        background: #e40000;

        a {
          color: #fff;
          font-weight: 900;
        }
      }
    }
  }

  #navbar-item-third:hover .dropdown-basket {
    display: flex;
  }

  .nav-item:last-child {
    margin-left: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    a {
      i {
        margin-left: 20px;
      }
    }
  }
}

.top-categories {
  .nav-item {
    border-bottom: 1px solid #e5e5e5;

    a:hover {
      border-bottom: 2px solid #ff5432;
      padding-bottom: 16px;
    }
  }
}

.btn.btn-lg.btn-search {
  /*background-color: #7E0A14;*/
  color: white;
  border: none;
  width: 11%;
  padding: 0px 25px;
  border-radius: 0;
  margin: 0 auto;
}

.btn.btn-lg.btn-search i {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}

.search-form {
  background-color: #7e0a14;
  padding: 2px;
  width: 660px;
  margin-left: 12px;
}

.search-form .search-input {
  width: 53%;
  font-size: 14px;
  padding: 7px 20px;
  margin: 0;
  border: none;
  border-radius: 0;
  height: 41px;
  box-sizing: border-box;
}

.search-form .search-input::placeholder {
  color: rgba(48, 52, 63, 0.5);
}

.search-form .dropdown,
.dropleft,
.dropright,
.dropup {
  background-color: rgba(48, 52, 63, 0);
}

.search-form .dropdown {
  background: white;
  padding: 10px 20px;
  font-size: 14px;
  width: 36%;
  height: 41px;
  outline: none;
  border-left: 1px solid #ecf0f1;
  position: relative;
}

.dropdown-menu {
  width: 100%;
}

.search-form .dropdown-toggle {
  width: 100%;
  color: #30343f;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.search-form .dropdown-toggle:after {
  color: #e40000;
  content: "\f107";
  font-family: FontAwesome;
  border-top: none;
  vertical-align: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-clean .item.social > a {
  border: none;
}

.social div a {
  padding: 10px;
}

@media (max-width: 767px) {

  .navbar-nav {
    margin-top: 10px;
  }

  .navbar {
    .search-form {
      margin-left: 0;
      width: 100%;

      .btn.btn-lg.btn-search {
        padding: 0 10px 0 7px;
      }

      .dropdown-toggle:after {
        top: 12px;
      }
    }

    .nav {
      flex-direction: row;
      justify-content: space-between;

      li:last-child {
        position: static;
        margin: 0;
      }
    }
  }

  .navbar-nav .nav-item:first-child {
    margin: 0;
  }

  .navbar-nav #navbar-item-third {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .navbar {
    .search-form {
      margin-left: 0;
      width: 100%;

      .btn.btn-lg.btn-search {
        padding: 0 10px 0 7px;
      }

      .dropdown-toggle:after {
        top: 12px;
      }
    }

    .nav {
      flex-direction: row;
      justify-content: space-around;

      li:last-child {
        position: static;
        margin: 0;
      }
    }
  }

  .navbar-nav .nav-item:first-child {
    margin: 0;
  }

  .navbar-nav #navbar-item-third {
    margin-left: 0px;
  }
}