.headerSection{
  border-bottom: 1px solid #E5E5E5;
  .page-settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: 568px){
      flex-wrap: wrap;
      justify-content: center;
    }
    &>a{
      color: rgba(48,52,63, .5);
      font-size: 25px;
      display: flex;
      margin-left: 15px;
      margin-top: 15px;
      &:hover{
        color: #FF5432;
        text-decoration: none;
      }
    }
    .with-dropdown{
     color: #30343F;
      font-size: 11px;
      margin-left: 30px;
      @media screen and (max-width: 568px){
        width: 100%;
        &:first-of-type{
          margin-top: 20px;
        }
      }
      .dropdown{
        .dropdown-toggle {
          width: 170px;
          height: 30px;
          border-color: #E5E5E5;
          border-radius: 0;
          font-size: 11px;
          font-weight: 300;
          color: #30343F;
          background: #fff;
          text-align: left;
          position: relative;
          &:after{
            color: #E40000;
            content: "\f107";
            font-family: FontAwesome;
            border-top: none;
            vertical-align: 0;
            position: absolute;
            right: 15px;
          }
          &:hover {
            border-color: #FF5432;
          }
          @media screen and (max-width: 568px){
            margin-bottom: 20px;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}