// hero
.hero {
  margin-top: 30px;
  height: 410px;
  @media screen  and (max-width: 768px){
    height: auto;
    
    .slick-slider {
      .slick-prev.slick-arrow {
        left: 30%;
      }
      .slick-next.slick-arrow {
        left: 50%;
      }
    }
  }
  .slick-slider {
    margin-bottom: 0;
    .slick-slide {
      height: 410px;
      @media screen  and (max-width: 768px){
        height: 100vh;
        padding: 30px;
        .hero{
          margin-top: 0px;
        }
      }
      .slide {
        display: flex!important;
        align-items: center;
        height: 410px;
        justify-content: center;
        padding: 0 15%;
        position: relative;
        @media screen  and (max-width: 768px){
          height: 100vh;
        }
        img {
          position: absolute;
          height: auto;
          width: auto;
          @media screen  and (max-width: 768px){
            height: 100vh;
            width: 100%;
            object-fit: cover;
          }
        }
        &.small{
          height: 450px;
          img{
            height: 450px;
          }
        }
        .postInfo{
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 10px;
          width: 290px;
          height: 390px;
          background:white;
          display: flex;
          flex-wrap: wrap;
          @media screen and (max-width: 768px){
            position: static;
            top: auto;
            right: auto;
          }
          h2{
            font-size: 37px;
            line-height: 42px;
            color: #30343F;
            font-weight: 300;
          }
          p{
            font-size: 11px;
            line-height: 16px;
            font-weight: 300;
            color: #30343F;
            padding-left: 20px;
            padding-top: 20px;
            padding-right: 20px;
            margin-bottom: 0;
          }
          .badge{
            height: 22px;
          }
          .price{
            display: flex;
            border: 2px solid #7E0A14;
            color: #7E0A14;
            font-size: 37px;
            line-height: 26px;
            margin-top: 5px;
            margin-bottom: 10px;
            padding: 15px 20px;
            width: 100%;
            align-items: center;
            .fa{
              font-size: 30px;
              color: #E40000;
              margin-right: 20px;
            }

          }
          a.button{
            align-self: flex-end;
            margin-bottom: 0;
          }
        }
        a{
          &:hover{
            text-decoration: none;
          }
        }
        h1 {
          text-align: center;
          font-weight: 700;
          font-size: 62px;
          line-height: 68px;
          color: white;
          position: relative;
          margin-left: 20px;
          margin-right: 20px;
          @media screen  and (max-width: 1200px){
            font-size: 51px;
            line-height: 55px;
          }
          @media screen  and (max-width: 982px){
            font-size: 39px;
            line-height: 45px;
          }
        }

      }

    }
    .slick-arrow{
      transform: none;
      width: 60px;
      height: 45px;
      background: white;
      margin: 5px;
      z-index: 99;
      font: normal normal normal 0 FontAwesome;
      top: auto;
    }
    .slick-next{
      left: 80px;
      bottom: 10px;
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        color: #E40000;
        font-size: 20px;
        content: "\f105";
      }
    }
    .slick-prev{
      left: 10px;
      bottom: 10px;
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        color: #E40000;
        font-size: 20px;
        content: "\f104";
      }
    }
  }
  .home-page-slider-small{
    .postInfoSmall{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px;
      top: 0;
      left: 0;
      flex-wrap: wrap;
      h3{
        font-size: 23px;
        line-height: 26px;
        font-weight: 300;
        color: #30343F;
        text-align: center;
        margin: 10px;
        width: 100%;
        strong{
          font-size: 37px;
          font-weight: bold;
          line-height: 52px;
        }
        span{
          font-size: 23px;
          line-height: 50px;
          font-weight: bold;
          color: #FFCC00;
        }
      }
      a.button{
        align-self: flex-end;
        margin-bottom: 0;
      }
    }
    .slick-slide {
      height: 450px;
    }
    .slick-next, .slick-prev{
      bottom: 65px;
    }
  }
}
.mini-menu {
  @media screen  and (max-width: 768px){
    display: none;
  }
  .slick-element{
    font-size: 11px;
    margin-top: 26px;
    font-weight: 300;
    text-align: center;
    &:hover{
      color: #004386;
      cursor: pointer;
    }
    hr{
      border: none;
      margin-top: 20px;
      margin-bottom: 0;
      height: 2px;
      background: white;
    }
  }
  .slick-current {
    .slick-element {
      color: #ca061e;
      font-weight: bold;
    }
  }
  .slick-slide {
    padding: 0 10px;
    position: relative;
    max-width: 25%;
  }
  .slick-track {
    display: flex;
    justify-content: space-between;
    width: 100%!important;
    transform: none!important;
  }
}

.slide {
  .postInfo {
    .badge-secondary {
      background: #958466;
    }

    h2 {
      padding: 0 31px 0 18px;
    }
  }
}

@media (max-width: 767px) {

  .home-page-slider-small {
    .slick-list {
      padding-bottom: 30px;
    }
  }
}