.login-page{
  .content {
    padding: 50px 0;
    background: #ECF0F1;
    border-bottom: 50px solid #fff;
  }
  input[type="text"],input[type="email"],input[type="password"],input[type="tel"]{
    border: 1px solid #E5E5E5;
    height: 45px;
    padding: 20px;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 1.4rem;
    color: #30343F;
    font-weight: 300;
  }
  .form-check{
    padding-left: 0;
    label{
      margin-right: 10px;
    }
    margin-bottom: 15px;
  }
  .content-section{
    background: white;
    padding: 20px;
    h3{
      margin-bottom: 25px;
    }
  }
  button{
    margin-bottom: 0;
  }
}