:root{
  font-size: 10px;
}
body {
  font-family: Raleway, sans-serif;
  background: #fff;
  color: $bodyColor;
  font-size: 1rem;
  @media screen and (max-width: 992px) {
    //padding-top: 70px;
  }
}

h1 {
  font-size: 3.7rem;
  line-height: 1.459;
  font-weight: 700;
  margin-bottom: 2.3rem;
}
h2 {
  font-size: 3.7rem;
  line-height: 1.459;
  font-weight: 300;
}
h3 {
  font-size: 2.3rem;
  line-height: 1.333;
  font-weight: 700;
}
h4 {
  font-size: 2.3rem;
  line-height: 1.333;
  font-weight: 300;
}
h5 {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.8;

}
h6 {
  font-size: 1.1rem;
  line-height: 1.846;
  font-weight: bold;
}
p{
  font-size: 1.4rem;
  line-height: 1.846;
  font-weight: 300;
}
b, strong {
  font-weight: 700;
}


a {
  color: $themeColor;
  font-size: 1.3rem;
  line-height: 1.846;
  font-weight: 500;
  &:hover, &:focus, &:active {
    color: $themeHoverColor;
  }
}
a[target=_blank] {
  font-weight: 700;
  &:hover, &:focus, &:active {
    text-decoration: none;
    &:after {
      border-left-color: $themeHoverColor;
    }
  }
}


a.button{
  font-size: 1.3rem;
  line-height: 21px;
  padding: 15px;
  background: $themeColor;
  text-align: center;
  margin: 15px 0 ;
  color: #fff;
  display: inline-block;
  width: 100%;
  @media screen and (max-width: 992px){
    padding: 15px;
  }

  &:hover, &:focus, &:active {
    color: #fff;
    background: $themeHoverColor;
    text-decoration: none;

  }
}
button.button{
  font-size: 1.3rem;
  line-height: 21px;
  padding: 15px;
  background: $themeColor;
  -webkit-appearance: none;
  border: 0;
  text-align: center;
  margin: 15px 0 ;
  color: #fff;
  display: inline-block;
  width: 100%;

  &:hover, &:focus, &:active {
    color: #fff;
    background: $themeHoverColor;
    text-decoration: none;

  }
}
a.button.whiteButton, button.whiteButton{
  color: $themeColor;
  border: 2px solid $themeColor;
  background: white;
  font-size: 1.4rem;
  font-weight: 900;
  &:hover, &:focus, &:active {
    color: $themeHoverColor;
    border-color: $themeHoverColor;
    background: white;
    &:after {
      border-left-color: $themeHoverColor;
    }
  }
}
ol{
  margin-left: 0;
  padding: 0;
  li{
    font-size: 1.3rem;
    line-height: 1.846;
    margin-left: 20px;
  }
}
ul{
  margin-left: 0;
  padding: 0;
  li{
    font-size: 1.3rem;
    line-height: 1.846;
    position: relative;
    a{
      font-size: 1.3rem;
    }
  }
}
input, textarea, select, button{
  font-size: 10px;

}

.justify-content-between {
  align-items: center;
  padding-right: 0;
  padding-left: 0;

  a {
    i {
      margin-left: 9px;
    }
  }

  h5 {
    margin: 0;
    width: calc(100% - 120px);
    text-align: right;
  }
}

.sliderHeader {
  .dropdown-toggle {
    background: none;
      font-weight: 900;
      margin-right: 20px;
      padding: 0;
  }

  .dropdown-menu {
    width: auto;
  }
}



table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 1.3rem;
  border-collapse: collapse;
  thead{
    border-bottom: 2px solid $bodyColor;
    tr{
      th{
        color: $bodyColor;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.846;
        text-align: left;
        padding-bottom: 13px;
      }
    }
  }
  tbody{
    tr{
      td{
        border: 1px solid #f5f5f5;
        padding: 20px 30px;
        &:first-of-type{
          font-weight: 700;
        }
        @media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px) {
          padding: 10px;
        }
      }
    }
  }
}

table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) {
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
    display: block;
    /* Force table to not be like tables anymore */
    thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
      margin-bottom: 15px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      //padding-left: 50% !important;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      left: 15px;
      color: $themeColor;
      font-weight: bold;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
      content: "";
    }
    td:nth-of-type(2):before {
      content: "";
    }
    td:nth-of-type(3):before {
      content: "";
    }
    td:nth-of-type(4):before {
      content: "";
    }
    //td:nth-of-type(5):before { content: "Wars of Trek?"; }
    //td:nth-of-type(6):before { content: "Secret Alias"; }
    //td:nth-of-type(7):before { content: "Date of Birth"; }
    //td:nth-of-type(8):before { content: "Dream Vacation City"; }
    //td:nth-of-type(9):before { content: "GPA"; }
    //td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }
}




$checkbox-height: 20px;
$background-color:#fff;
$duration: .4s;



/* Checkmark style starts */

@-moz-keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2; }
}

@-webkit-keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2; }
}

@keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2;  }
}

@keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.2; }
}
@-webkit-keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.2; }
}
@-moz-keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.2; }
}

input[type=checkbox]{
  display:none;
}

.check-box {
  height: $checkbox-height;
  width: $checkbox-height;
  float: left;
  border: 1px solid $themeGrey;
  border-radius: 0;
  border-color: rgb(185, 191, 201);
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease $duration/2;
  -o-transition: border-color ease $duration/2;
  -webkit-transition: border-color ease $duration/2;
  transition: border-color ease $duration/2;
  cursor:pointer;

  &::before, &::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: $checkbox-height * .2;
    background-color: $themeColor;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5;
  }

  &::before {
    top:$checkbox-height * .72;
    left: $checkbox-height * .41;
    box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  &::after {
    top: $checkbox-height * .37;
    left: $checkbox-height * .05;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

input[type=checkbox]:checked + .check-box,
.check-box.checked{
  border-color:$themeColor;

  &::after{
    height: $checkbox-height * .5;
    -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
    -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
    -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
    animation: dothabottomcheck $duration/2 ease 0s forwards;
  }

  &::before{
    height: $checkbox-height * 1.2;
    -moz-animation: dothatopcheck $duration ease 0s forwards;
    -o-animation: dothatopcheck $duration ease 0s forwards;
    -webkit-animation: dothatopcheck $duration ease 0s forwards;
    animation: dothatopcheck $duration ease 0s forwards;
  }
}

.badge{
  font-size: 9px;
  line-height: 14px;
  font-weight: 900;
  padding: 4px 10px;
  border-radius: 0;
  margin-bottom: 3px;
}
.badge-custom{
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 0;
  border-radius: 20px;
  width: 19px;
  height: 19px;
  background: #E40000!important;
  color: white;
  padding: 2px;
  &.small{
    width: 14px;
    height: 14px;
    font-size: 9px;
    right: -8px;
    padding: 0 5px;
  }
}
.accordion{
  .card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    .card-header{
      background: #fff;
      border: none;
      padding: 15px;
      h4{

        button{
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
          width: 100%;
          text-align: left;
          white-space: normal;
          padding-right: 25px;
          &:after{
            transition: all 0.3s ease;
            font: normal normal normal 14px/1 FontAwesome;
            color: #E40000;
            font-size: 20px;
            content: "\f107";
            right: 30px;
            top: 22px;
            position: absolute;
          }
        }
      }
    }
    .card-body{
      font-size: 1.3em;
      line-height: 1.846;
      padding: 30px;
    }
    &.open{
      .card-header{
        h4{
          color: #E40000;
          button{
            &:after{
              content: "\f106" !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .arrowSection {
    .row {
      .see-all-button {
        margin: 0 10px;
      }
    }
  }

  .display-on-rows {
    flex-direction: column;
  }

  .display-on-rows-first {
    .dropdown {
      margin-left: 30px;
      padding-top: 5px;
    }
  }
}

.display-on-rows-first {
  .dropdown {
    margin-left: 40px;
    padding-top: 5px;
  }
}

.card-footer {
  .display-flex {
    .old-price {
      line-height: 16px;
      text-decoration: line-through;
      font-size: 11px;
      font-weight: 300;
      color: #30343F;
      text-align: right;
      transform: translateY(2px);
    }
  
    .price {
      display: flex;
      transform: translateY(-2px);
    }
  }
}

@media (min-width: 1023px) and (max-width: 1199px) {
  .sliderHeader{
    .display-on-rows:first-child {
      flex-direction: column;
      align-items: flex-start;
    }
    
  }
}
.green{
  color: #00DB66;
}