.newsletter {
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 37px;
    line-height: 42px;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 23px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
  }
  .bell-icon {
    margin: 0 auto;
    display: block;
  }
  label {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    input[type="radio"] {
      margin-bottom: 30px;
    }
  }
  .newsletter-submit {
    margin-top: 45px;
    border: 2px solid #7e0a14;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    @media screen and (max-width: 768px) {
      width: auto;
      display: block;
    }
    label {
      margin: 0;
      width: calc(100% - 82px);
    }
    input {
      font-size: 14px;
      padding: 7px 23px;
      margin: 0;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      height: 41px;
      box-sizing: border-box;
    }
    button {
      -webkit-appearance: none;
      border: none;
      color: #e40000;
      font-size: 14px;
      font-weight: 900;
      background: none;
    }
  }
}

@media (max-width: 767px) {
  .newsletter {
    .col-lg-2 {
      display: flex;
      justify-content: center;
    }

    .newsletter-form {
      justify-content: center;
    }
  }
}

.radio-inline {
  justify-content: center;

  .radio-box{
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    transform: translate(-23px, 1px);
    height: 14px;
    width: 14px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.radio-box input:checked ~ .checkmark {
  border: 1px solid #E40000;
}

.radio-box input:checked ~ .radio-box-name {
  color: #E40000;
}

.radio-box input:checked ~ .checkmark:after {
  display: block;
}

.radio-box .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E40000;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .arrowSection .see-all-button {
    margin-left: 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .display-on-rows {
    h5{
      text-align: left;
    }
    a {
      margin-right: 20px;
    }
  }

  .newsletter {
    .container {
      form {
        display: grid;
        grid-template-columns: 50% 50%;

        div {
          display: flex;
          justify-content: center;

          .checkmark {
            transform: translate(-40px, 1px);
          }
        }

        .newsletter-submit {
          transform: translateX(65%);
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .newsletter {
    .container {
      form {
        justify-content: center;
        div {
          margin-left: 15px;
            margin-right: 15px;
        }
      }
    }
  }
}