.pagination-section{
  background: #ECF0F1;
  padding: 30px;
  .pagination{
    justify-content: flex-end;
    .page-item{
      margin: 0 5px;
      .page-link{
        width: 60px;
        height: 45px;
        color: #30343F;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 300;
        .fa{
          color: $themeColor;
          font-size: 20px;
        }
      }
      &.current{
        .page-link{
          color: $themeColor;
          border-bottom: 2px solid $themeColor;
        }
      }
      &:hover{
        .page-link{
          background: white;
          color: $themeColor;
          border-bottom: 2px solid $themeColor;
        }
      }
      input{
        height: 45px;
        font-size: 14px;
        font-weight: 300;
        border: none;
        padding: 15px 20px;
      }
    }
  }
}

.card-img-overlay {
  display: flex;
  justify-content: flex-end;
}

.product-box {
  margin-top: 20px;
  padding-bottom: 65px;
  hr{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .price-box-contact {
    justify-content: flex-end;
    margin-top: 25px;
    .price-box-contact-icon {
      margin-left: 20px;
    }
    .price-box-contact-text {
      text-align: right;
      font-weight: 300;
      .price-box-contact-text-first {
        font-size: 14px;
      }
      .price-box-contact-text-second {
        font-size: 11px;
      }
      .price-box-contact-text-third {
        svg {
          margin-left: 10px;
        }
      }
    }
  }
  .price-box {
    .price-box-delivery {
      background: #ecf0f1;
      margin-top: 10px;
      padding: 30px 30px 22px 20px;
      text-align: right;

      p {
        font-size: 14px;
        font-weight: 300;
      }

      span {
        font-weight: 900;
      }

      img {
        margin-bottom: 6px;
      }
    }
    a {
        font-size: 14px;
        font-weight: 900;
        span{
          margin-left: 9px;
        }
    }
    h1{
      color: #7E0A14;
      margin: 15px 0 0 0;
      text-align: right;
    }

    .price-box-vat {
      font-size: 11px;
      font-weight: 300;
      text-align: right;
    }

    .price-box-save {
      font-size: 14px;
      font-weight: 300;
      text-align: right;

      span {
        font-weight: 900;
      }
    }

    .price-box-link {
      text-align: right;
    }

    .price-box-basket {
      height: 45px;
      margin-top: 26px;

      .price-box-basket-amount {
        width: 32%;
        border: 1px solid #E5E5E5;
        align-items: center;
        justify-content: center;

        p {
          font-size: 14px;
          font-weight: 300;
          margin: 0;
        }

        button {
          background: none;
          border: none;
          padding: 0;
        }
        button:first-child {
          margin-right: 10px;
        }
        button:last-child {
          margin-left: 10px;
        }
      }
      .price-box-basket-add {
        width: 68%;
        background: #E40000;
        justify-content: center;
        align-items: center;
        
        span {
          font-size: 14px;
          font-weight: 900;
          color: #fff;
          margin-left: 9px;
        }
      }
    }
  }
  .product-box-social {
    a {
      margin-right: 25px;
    }
  }
  h4 {
    font-size: 11px;
    font-weight: 300;
  }
  .card-title {
    font-size: 37px;
    font-weight: 700;
  }
  .product-box-review {
    align-items: center;
    p {
      margin: 0 5px 0 0;
      font-size: 14px;
      font-weight: 300;
    }
    .stars {
      margin-bottom: 5px;
    }
    a{
      margin-left: 5px;
      svg {
        margin-left: 10px;
      }
    }
  }
  .product-box-reviews {
    opacity: .5;
  }

  .product-box-available {
    font-size: 14px;
    font-weight: 300;
    align-items: center;
    p{
      margin: 0 10px 0 8px;
      opacity: .5;
    }

    .green {
      font-weight: 900;
    }
  }

  .product-box-lists{
    ul {
      list-style-type: none;
      li{
        font-weight: 300;
        strong{
          font-weight: 900;
        }
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .container {
    .product-box {
      .price-box {
        .price-box-basket {
          .price-box-basket-amount {
            button:first-child {
              margin-right: 5px;
            }
            button:last-child {
              margin-left: 5px;
            }
          }
          .price-box-basket-add {
            span {
              margin-left: 4px;
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}