.products-list {
  .desc {
    padding: 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
    p{
      margin-bottom: 0;
    }
  }
  h4{
    margin-bottom: 30px;
  }
  .filters{
    padding: 30px 0;
    .form-check{
      padding: 10px 0;
      display: flex;
      align-items: center;
      label{
        margin-right: 10px;
      }
      .label{
        color: #30343F;
        font-size: 11px;
        font-weight: 300;
        height: auto;
        display: block;
      }
    }
    hr{
      margin: 20px 0;
    }
    button.button{
      margin-top: 0;
    }
  }
  .top10{
    margin-top: 50px;
    .card{
      padding: 10px;
      flex-direction: row;
      margin-bottom: 10px;
      img.card-img{
        width: 60px;
        height: 80px;
        object-fit: cover;
      }
      .card-body{
        width: calc(100% - 90px);
        padding: 0 0 0 10px;
        p{
          font-size: 11px;
          margin-bottom: 0;
          line-height: 16px;
        }
        h5{
          line-height: 18px;
          margin: 0;
        }
      }
      .card-footer{
        padding: 0 10px 0 0;
        background: transparent;
        border:none;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        a{
          img{
            width: 24px;
            height: 19px;
          }
        }
        .price{
          display: flex;
          color: #7E0A14;
          font-size: 11px;
          line-height: 16px;
          font-weight:900;
          position: relative;
          small{
            font-size: 9px;
            font-weight: 300;
            position: absolute;
            top: -10px;
            color: #30343F;
            right: 0;
            text-decoration-line: line-through;
          }
        }
      }
    }
  }
  .projector_number{
    margin: -15px  -18px;
    width: 100px;
    display: flex;
    border-right: 1px solid #e5e5e5;
    button{
      -webkit-appearance: none;
      width: 40px;
      border: none;
    }
    input{
      height: 100%;
      width: 30px;
      margin: 0;
      -webkit-appearance: none;
      border: none;
      text-align: center;
    }
  }
  .card-wide{
    padding: 20px;
    .card-img{
      width: 100%;
      height: auto;
    }
    .card-body{
      .card-text{
        text-align: left;
      }
      .card-title{
        text-align: left;
      }
      p{
        text-align: left;
      }
    }
    .card-footer{
      margin: 0 0 0 auto;
      width: 100%;
      border: 1px solid #e5e5e5;
      bottom: 0;
      margin-top: auto;
      top: auto;
      position: absolute;
      right: 15px;
      @media screen and (max-width: 568px){
        position: static;
      }
    }
    .hearth{
      display: inline-flex;
      border: 1px solid #707070;
      box-shadow: 1.31px 1.51px 7px 0px rgba(0,0,0,0.28);
      justify-content: center;
      align-items: center;
      &:hover{
        width: 30px;
        span{
          right: 30px;
          top: 5px;
          left: auto;
        }
      }
    }
  }
}