.tabs{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ECF0F1;
  .content{
    background: white;
  }
  .nav-tabs{
    .nav-item{
      background: white;
      font-size: 2.3rem;
      font-weight: 300;
      line-height: 26px;
      color: $bodyColor;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: #e5e5e5;
      &.active{
        color: $themeColor;
        border-bottom: 1px solid $themeColor;
      }
      &:hover{
        border-bottom: 1px solid $themeColor;
      }
      @media screen and (max-width: 768px){
        font-size: 1.6rem;
        height: auto;
      }
    }
  }
  .tab-pane{
    padding: 30px;
  }
  .comments{
    .comment{
      background: #FAFAFA;
      margin: 0 0 10px 0;
      box-shadow: none;
      .author{
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        display: inline-block;
      }
      .rating{
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        display: inline-block;
        margin-left: 30px;
      }
      .like{
        font-size: 11px;
        line-height: 20px;
        font-weight: 300;
        color: #31BA34;
        .fa{
          margin-right: 5px;
          font-size: 16px;
        }
      }
      .dislike{
        font-size: 11px;
        line-height: 20px;
        font-weight: 300;
        color: #FF0000;
        margin-left: 10px;
        .fa{
          margin-right: 5px;
          font-size: 16px;
        }
      }
    }
  }
  textarea, input {
    padding: 15px 20px;
    font-size: 1.4rem;
    color: #30343F;
    border: 1px solid #E5E5E5;
  }
  input{
    height: 45px;
  }
}