$tlo: #0E1119;
$menu_icon: url("https://image.flaticon.com/icons/png/128/56/56763.png");
$font:'Open Sans',
sans-serif;
body {
    background-color: $tlo;
    color: #efefef;
    font-family: $font;
    font-size: 17px;
}

.button {
    background-color: red;
    color: white;
    border-radius: 0;
    font-size: 14px;
    font-weight: 900;
    padding: 12px 40px;
    margin: 4px 0;
    p {
        margin: 0;
        line-height: 26px;;
    }
}

.button-translate {
    transform: translateY(2px);
}

.navbar {
    min-height: 57px;
}

.bg-navbar {
    background-color: white !important;
}

.text-justify.list-group-item {
    background-color: $tlo;
    margin: -6px;
}

.mod_1 {
    min-height: 500px;
    background-repeat: no-repeat;
}

.author-header {
    background: #fff;

    a {
        font-size: 18px;
    }
}

.author-bg-image {
    background-image: url("../img/astro.jpg");

    .bg-image-img {
        button {
            img {
                width: 19px;
                height: 26px;
                margin-right: 10px;
            }
        }
    }
}

.mod_2 {
    background-color: $tlo;
    //min-height: 500px;
    .review-order-book{
        margin: 0 auto;
        background: #E40000;
        padding: 12px 42px;
        border: none;
        font-size: 14px;
        font-weight: 900;
        color: #fff;
    }
    .short-desc{
        .short-desc-box {
            justify-content: center;
            padding-left: 115px;
            h1 {
                font-size: 37px;
                font-weight: 700;
                margin-bottom: 35px;
            }
            p{
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 50px;
            }
            .review-order-book {
                margin: 0;
            }
        }
    }

    .order-books-container {
        margin-top: 130px;
        h1 {
            font-size: 37px;
            font-weight: 700;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 40px;
        }
    }
    .order-books {
        margin-bottom: 80px;
        img {
            width: 100%;
            height: auto;
        }
        .order-books-marg{
            margin-bottom: 30px;
        }
        .order-books-imgs {
            position: relative;
            .order-books-form {
                position: absolute;
                bottom: -30px;
                left: -30px;
                align-items: center;
                img {
                    width: 140px;
                    height: 140px;
                }
                p{
                    margin: 0;
                    transform: translateX(-30px);
                    font-size: 12px;
                    font-weight: 900;
                }
                .book-icon-last{
                    transform: translateX(-60px);
                }
            }
        }
        .order-books-title {
            height: 70px;
            background: #30343F;
            flex-direction: column;
            align-items: center;
            span {
                font-size: 11px;
                font-weight: 300;
                margin-top: 8px;
                margin-bottom: 2px;
            }
            p{
                font-size: 14px;
                font-weight: 900;
            }
        }
        .order-books-price {
            height: 45px;
            background: rgba(48, 52, 63, .3);
            align-items: center;
            h5{
                justify-self: center;
                margin: 0;
            }
            .order-books-price-img {
                width: 69px;
                margin-right: 21px;
                display: flex;
                justify-content: flex-end;
                img {
                    height: 24px;
                    width: 30px;
                }
            }
            .order-books-price-count {
                background: rgba(48, 52, 63, .6);
                height: 45px;
                align-items: center;
                button {
                    border: none;
                    background: none;
                    color: #fff;
                    margin: 0 11px;
                    padding: 0 5px;
                }
                p{
                    margin: 0;
                }
            }
        }
    }
    .review {
        margin-top: 155px;
        .d-flex.review-box {
            margin-bottom: 82px;
            img{
                width: 170px;
                height: 170px;
                margin-right: 65px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                font-family: 'Merriweather', serif;
                margin: 0;
            }
            span{
                font-size: 14px;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
            }
        }
    }

    .more-reviews {
        .more-reviews-box {
            margin-bottom: 90px;
            padding-right: 60px;
            img {
                margin-bottom: 50px;
            }
            p{
                font-size: 14px;
                font-weight: 300;
                font-family: 'Merriweather', serif;
                margin: 0;
            }
            span{
                font-size: 11px;
                line-height: 16px;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                display: block;
            }
        }
    }

    .author-audiobook {
        margin-top: 60px;

        .author-audiobook-order {
            h1 {
                font-size: 37px;
                font-weight: 700;
                margin-bottom: 45px;
            }
            p {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 2px;
            }
            button {
                border-radius: 0;
                padding: 9px 38px;
                font-size: 14px;
                font-weight: 900;
                img {
                    width: 19px;
                    height: 26px;
                    margin-right: 9px;
                }
            }
        }
        .author-audiobook-sample {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h4{
                font-size: 23px;
                font-weight: 700;
                margin-bottom: 43px;
                text-align: right;
                transform: translateY(-15px);
            }
            button{
                padding: 12px 45px;
                background: none;
                border: 2px solid #fff;
                color: #fff;
                font-size: 14px;
                font-weight: 900;
                transform: translateY(-15px);
            }
            img {
                transform: translateX(43px);
            }
        }
    }
}

.sub-cart {
    margin-bottom: 80px;
    .sub-cart-text {
        margin-bottom: 40px;
        justify-content: center;
        height: 70px;
        .sub-cart-text-first {
            background: rgba(48, 52, 63, .9);
            width: 45%;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                font-size: 11px;
                font-weight: 300;
            }
            p{
                font-size: 14px;
                font-weight: 900;
                margin: 0;
            }
        }
        .sub-cart-price-count {
            width: 10%;
            background: rgba(48, 52, 63, .6);
            justify-content: center;
            align-items: center;
            button {
                background: none;
                border: none;
                color: #fff;
                font-size: 14px;
                font-weight: 300;
                padding: 0 5px;
                margin: 0 15px;
            }
            p{
                font-size: 14px;
                font-weight: 300;
                margin: 0;
            }
        }
        .sub-cart-text-second {
            width: 45%;
            background: rgba(48, 52, 63, 0.3);
            font-size: 14px;
            font-weight: 900;
            justify-content: center;
            align-items: center;
            position: relative;
            .sub-cart-text-icon {
                position: absolute;
                right: 30px;
            }
        }
    }
}

.author-footer-container {
    background: #fff;
}

.author-footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    a{
        margin-right: 30px;
    }
    p{
        font-size: 14px;
        font-weight: 300;
        color: #30343F;
        margin: 0;
    }
}

@media (max-width:575px) {
    .navbar-dark .navbar-toggler-icon {
        background-image: $menu_icon;
    }
}

@media (max-width: 768px) {
    .sub-cart {
        .sub-cart-text {
            .sub-cart-price-count {
                button {
                    padding: 0 5px;
                    margin: 0 5px;
                }
            }
        }
    }
    .mod_2 {
        .order-books {
            .order-books-imgs {
                .order-books-form {
                    bottom: -18px;
                    left: -18px;
                    img {
                        width: 90px;
                        height: 90px;
                    }
                    p{
                        transform: translateX(-20px);
                    }
                    .book-icon-last{
                        transform: translateX(-40px);
                    }
                }
            }
            .order-books-price {
                .order-books-price-count {
                    button {
                        margin: 0 5px;
                        padding: 0 5px;
                    }
                }
                h5 {
                    font-size: 14px;
                }
                .order-books-price-img {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        .review {
            .d-flex.review-box {
                flex-direction: column;
                p{
                    margin-top: 30px;
                }
            }
        }
        .row.short-desc {
            img {
                width: 100%;
                height: auto;
            }
            .short-desc-box {
                flex-direction: column;
            }
        }
        .order-books {
            .order-books-imgs {
                .order-books-form {
                    bottom: -18px;
                    left: -18px;
                    img {
                        width: 120px;
                        height: 120px;
                    }
                    p{
                        transform: translateX(-20px);
                    }
                    .book-icon-last{
                        transform: translateX(-40px);
                    }
                }
            }
        }
        .sub-cart {
            .sub-cart-text {
                height: auto;
                flex-direction: column;
                div {
                    width: auto;
                    padding: 15px 0;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 400px)  {
    .author-footer {
        a{
            margin-right: 15px;
        }
    }
}