body {
  background-color: #0E1119;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.button {
  background-color: red;
  color: white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 900;
  padding: 12px 40px;
  margin: 4px 0;
}

.button p {
  margin: 0;
  line-height: 26px;
}

.button-translate {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.navbar {
  min-height: 57px;
}

.bg-navbar {
  background-color: white !important;
}

.text-justify.list-group-item {
  background-color: #0E1119;
  margin: -6px;
}

.mod_1 {
  min-height: 500px;
  background-repeat: no-repeat;
}

.author-header {
  background: #fff;
}

.author-header a {
  font-size: 18px;
}

.author-bg-image {
  background-image: url("../img/astro.jpg");
}

.author-bg-image .bg-image-img button img {
  width: 19px;
  height: 26px;
  margin-right: 10px;
}

.mod_2 {
  background-color: #0E1119;
}

.mod_2 .review-order-book {
  margin: 0 auto;
  background: #E40000;
  padding: 12px 42px;
  border: none;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
}

.mod_2 .short-desc .short-desc-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 115px;
}

.mod_2 .short-desc .short-desc-box h1 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 35px;
}

.mod_2 .short-desc .short-desc-box p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px;
}

.mod_2 .short-desc .short-desc-box .review-order-book {
  margin: 0;
}

.mod_2 .order-books-container {
  margin-top: 130px;
}

.mod_2 .order-books-container h1 {
  font-size: 37px;
  font-weight: 700;
}

.mod_2 .order-books-container p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}

.mod_2 .order-books {
  margin-bottom: 80px;
}

.mod_2 .order-books img {
  width: 100%;
  height: auto;
}

.mod_2 .order-books .order-books-marg {
  margin-bottom: 30px;
}

.mod_2 .order-books .order-books-imgs {
  position: relative;
}

.mod_2 .order-books .order-books-imgs .order-books-form {
  position: absolute;
  bottom: -30px;
  left: -30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_2 .order-books .order-books-imgs .order-books-form img {
  width: 140px;
  height: 140px;
}

.mod_2 .order-books .order-books-imgs .order-books-form p {
  margin: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  font-size: 12px;
  font-weight: 900;
}

.mod_2 .order-books .order-books-imgs .order-books-form .book-icon-last {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.mod_2 .order-books .order-books-title {
  height: 70px;
  background: #30343F;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_2 .order-books .order-books-title span {
  font-size: 11px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 2px;
}

.mod_2 .order-books .order-books-title p {
  font-size: 14px;
  font-weight: 900;
}

.mod_2 .order-books .order-books-price {
  height: 45px;
  background: rgba(48, 52, 63, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_2 .order-books .order-books-price h5 {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

.mod_2 .order-books .order-books-price .order-books-price-img {
  width: 69px;
  margin-right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mod_2 .order-books .order-books-price .order-books-price-img img {
  height: 24px;
  width: 30px;
}

.mod_2 .order-books .order-books-price .order-books-price-count {
  background: rgba(48, 52, 63, 0.6);
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_2 .order-books .order-books-price .order-books-price-count button {
  border: none;
  background: none;
  color: #fff;
  margin: 0 11px;
  padding: 0 5px;
}

.mod_2 .order-books .order-books-price .order-books-price-count p {
  margin: 0;
}

.mod_2 .review {
  margin-top: 155px;
}

.mod_2 .review .d-flex.review-box {
  margin-bottom: 82px;
}

.mod_2 .review .d-flex.review-box img {
  width: 170px;
  height: 170px;
  margin-right: 65px;
}

.mod_2 .review .d-flex.review-box p {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  margin: 0;
}

.mod_2 .review .d-flex.review-box span {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.mod_2 .more-reviews .more-reviews-box {
  margin-bottom: 90px;
  padding-right: 60px;
}

.mod_2 .more-reviews .more-reviews-box img {
  margin-bottom: 50px;
}

.mod_2 .more-reviews .more-reviews-box p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  margin: 0;
}

.mod_2 .more-reviews .more-reviews-box span {
  font-size: 11px;
  line-height: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  display: block;
}

.mod_2 .author-audiobook {
  margin-top: 60px;
}

.mod_2 .author-audiobook .author-audiobook-order h1 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 45px;
}

.mod_2 .author-audiobook .author-audiobook-order p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2px;
}

.mod_2 .author-audiobook .author-audiobook-order button {
  border-radius: 0;
  padding: 9px 38px;
  font-size: 14px;
  font-weight: 900;
}

.mod_2 .author-audiobook .author-audiobook-order button img {
  width: 19px;
  height: 26px;
  margin-right: 9px;
}

.mod_2 .author-audiobook .author-audiobook-sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mod_2 .author-audiobook .author-audiobook-sample h4 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 43px;
  text-align: right;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.mod_2 .author-audiobook .author-audiobook-sample button {
  padding: 12px 45px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.mod_2 .author-audiobook .author-audiobook-sample img {
  -webkit-transform: translateX(43px);
          transform: translateX(43px);
}

.sub-cart {
  margin-bottom: 80px;
}

.sub-cart .sub-cart-text {
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

.sub-cart .sub-cart-text .sub-cart-text-first {
  background: rgba(48, 52, 63, 0.9);
  width: 45%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-cart .sub-cart-text .sub-cart-text-first span {
  font-size: 11px;
  font-weight: 300;
}

.sub-cart .sub-cart-text .sub-cart-text-first p {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
}

.sub-cart .sub-cart-text .sub-cart-price-count {
  width: 10%;
  background: rgba(48, 52, 63, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-cart .sub-cart-text .sub-cart-price-count button {
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 0 5px;
  margin: 0 15px;
}

.sub-cart .sub-cart-text .sub-cart-price-count p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.sub-cart .sub-cart-text .sub-cart-text-second {
  width: 45%;
  background: rgba(48, 52, 63, 0.3);
  font-size: 14px;
  font-weight: 900;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sub-cart .sub-cart-text .sub-cart-text-second .sub-cart-text-icon {
  position: absolute;
  right: 30px;
}

.author-footer-container {
  background: #fff;
}

.author-footer {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.author-footer a {
  margin-right: 30px;
}

.author-footer p {
  font-size: 14px;
  font-weight: 300;
  color: #30343F;
  margin: 0;
}

@media (max-width: 575px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: url("https://image.flaticon.com/icons/png/128/56/56763.png");
  }
}

@media (max-width: 768px) {
  .sub-cart .sub-cart-text .sub-cart-price-count button {
    padding: 0 5px;
    margin: 0 5px;
  }
  .mod_2 .order-books .order-books-imgs .order-books-form {
    bottom: -18px;
    left: -18px;
  }
  .mod_2 .order-books .order-books-imgs .order-books-form img {
    width: 90px;
    height: 90px;
  }
  .mod_2 .order-books .order-books-imgs .order-books-form p {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .mod_2 .order-books .order-books-imgs .order-books-form .book-icon-last {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .mod_2 .order-books .order-books-price .order-books-price-count button {
    margin: 0 5px;
    padding: 0 5px;
  }
  .mod_2 .order-books .order-books-price h5 {
    font-size: 14px;
  }
  .mod_2 .order-books .order-books-price .order-books-price-img {
    width: auto;
  }
}

@media (max-width: 767px) {
  .container .review .d-flex.review-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .review .d-flex.review-box p {
    margin-top: 30px;
  }
  .container .row.short-desc img {
    width: 100%;
    height: auto;
  }
  .container .row.short-desc .short-desc-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .order-books .order-books-imgs .order-books-form {
    bottom: -18px;
    left: -18px;
  }
  .container .order-books .order-books-imgs .order-books-form img {
    width: 120px;
    height: 120px;
  }
  .container .order-books .order-books-imgs .order-books-form p {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .container .order-books .order-books-imgs .order-books-form .book-icon-last {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .container .sub-cart .sub-cart-text {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .sub-cart .sub-cart-text div {
    width: auto;
    padding: 15px 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .author-footer a {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=author.css.map */