:root {
  font-size: 10px;
}

body {
  font-family: Raleway, sans-serif;
  background: #fff;
  color: #30343F;
  font-size: 1rem;
}

h1 {
  font-size: 3.7rem;
  line-height: 1.459;
  font-weight: 700;
  margin-bottom: 2.3rem;
}

h2 {
  font-size: 3.7rem;
  line-height: 1.459;
  font-weight: 300;
}

h3 {
  font-size: 2.3rem;
  line-height: 1.333;
  font-weight: 700;
}

h4 {
  font-size: 2.3rem;
  line-height: 1.333;
  font-weight: 300;
}

h5 {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.8;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.846;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  line-height: 1.846;
  font-weight: 300;
}

b, strong {
  font-weight: 700;
}

a {
  color: #E40000;
  font-size: 1.3rem;
  line-height: 1.846;
  font-weight: 500;
}

a:hover, a:focus, a:active {
  color: #FF5432;
}

a[target=_blank] {
  font-weight: 700;
}

a[target=_blank]:hover, a[target=_blank]:focus, a[target=_blank]:active {
  text-decoration: none;
}

a[target=_blank]:hover:after, a[target=_blank]:focus:after, a[target=_blank]:active:after {
  border-left-color: #FF5432;
}

a.button {
  font-size: 1.3rem;
  line-height: 21px;
  padding: 15px;
  background: #E40000;
  text-align: center;
  margin: 15px 0;
  color: #fff;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 992px) {
  a.button {
    padding: 15px;
  }
}

a.button:hover, a.button:focus, a.button:active {
  color: #fff;
  background: #FF5432;
  text-decoration: none;
}

button.button {
  font-size: 1.3rem;
  line-height: 21px;
  padding: 15px;
  background: #E40000;
  -webkit-appearance: none;
  border: 0;
  text-align: center;
  margin: 15px 0;
  color: #fff;
  display: inline-block;
  width: 100%;
}

button.button:hover, button.button:focus, button.button:active {
  color: #fff;
  background: #FF5432;
  text-decoration: none;
}

a.button.whiteButton, button.whiteButton {
  color: #E40000;
  border: 2px solid #E40000;
  background: white;
  font-size: 1.4rem;
  font-weight: 900;
}

a.button.whiteButton:hover, a.button.whiteButton:focus, a.button.whiteButton:active, button.whiteButton:hover, button.whiteButton:focus, button.whiteButton:active {
  color: #FF5432;
  border-color: #FF5432;
  background: white;
}

a.button.whiteButton:hover:after, a.button.whiteButton:focus:after, a.button.whiteButton:active:after, button.whiteButton:hover:after, button.whiteButton:focus:after, button.whiteButton:active:after {
  border-left-color: #FF5432;
}

ol {
  margin-left: 0;
  padding: 0;
}

ol li {
  font-size: 1.3rem;
  line-height: 1.846;
  margin-left: 20px;
}

ul {
  margin-left: 0;
  padding: 0;
}

ul li {
  font-size: 1.3rem;
  line-height: 1.846;
  position: relative;
}

ul li a {
  font-size: 1.3rem;
}

input, textarea, select, button {
  font-size: 10px;
}

.justify-content-between {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.justify-content-between a i {
  margin-left: 9px;
}

.justify-content-between h5 {
  margin: 0;
  width: calc(100% - 120px);
  text-align: right;
}

.sliderHeader .dropdown-toggle {
  background: none;
  font-weight: 900;
  margin-right: 20px;
  padding: 0;
}

.sliderHeader .dropdown-menu {
  width: auto;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 1.3rem;
  border-collapse: collapse;
}

table thead {
  border-bottom: 2px solid #30343F;
}

table thead tr th {
  color: #30343F;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.846;
  text-align: left;
  padding-bottom: 13px;
}

table tbody tr td {
  border: 1px solid #f5f5f5;
  padding: 20px 30px;
}

table tbody tr td:first-of-type {
  font-weight: 700;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table tbody tr td {
    padding: 10px;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) {
    display: block;
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
    Label the data
    */
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) thead, table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) tbody, table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) th, table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td, table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) tr {
    display: block;
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) tr {
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 15px;
    color: #E40000;
    font-weight: bold;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td:nth-of-type(1):before {
    content: "";
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td:nth-of-type(2):before {
    content: "";
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td:nth-of-type(3):before {
    content: "";
  }
  table:not(#wp-calendar):not(.tribe-events-calendar):not(.table-condensed):not(.metaDataTable) td:nth-of-type(4):before {
    content: "";
  }
}

/* Checkmark style starts */

@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}

input[type=checkbox] {
  display: none;
}

.check-box {
  height: 20px;
  width: 20px;
  float: left;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  border-color: #b9bfc9;
  background-color: white;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.check-box::before, .check-box::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #E40000;
  display: inline-block;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  transition: opacity ease .5;
}

.check-box::before {
  top: 14.4px;
  left: 8.2px;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.check-box::after {
  top: 7.4px;
  left: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #E40000;
}

input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 10px;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 24px;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

.badge {
  font-size: 9px;
  line-height: 14px;
  font-weight: 900;
  padding: 4px 10px;
  border-radius: 0;
  margin-bottom: 3px;
}

.badge-custom {
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 0;
  border-radius: 20px;
  width: 19px;
  height: 19px;
  background: #E40000 !important;
  color: white;
  padding: 2px;
}

.badge-custom.small {
  width: 14px;
  height: 14px;
  font-size: 9px;
  right: -8px;
  padding: 0 5px;
}

.accordion .card {
  background-color: white;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
}

.accordion .card .card-header {
  background: #fff;
  border: none;
  padding: 15px;
}

.accordion .card .card-header h4 button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: 100%;
  text-align: left;
  white-space: normal;
  padding-right: 25px;
}

.accordion .card .card-header h4 button:after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font: normal normal normal 14px/1 FontAwesome;
  color: #E40000;
  font-size: 20px;
  content: "\f107";
  right: 30px;
  top: 22px;
  position: absolute;
}

.accordion .card .card-body {
  font-size: 1.3em;
  line-height: 1.846;
  padding: 30px;
}

.accordion .card.open .card-header h4 {
  color: #E40000;
}

.accordion .card.open .card-header h4 button:after {
  content: "\f106" !important;
}

@media (max-width: 767px) {
  .arrowSection .row .see-all-button {
    margin: 0 10px;
  }
  .display-on-rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .display-on-rows-first .dropdown {
    margin-left: 30px;
    padding-top: 5px;
  }
}

.display-on-rows-first .dropdown {
  margin-left: 40px;
  padding-top: 5px;
}

.card-footer .display-flex .old-price {
  line-height: 16px;
  text-decoration: line-through;
  font-size: 11px;
  font-weight: 300;
  color: #30343F;
  text-align: right;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.card-footer .display-flex .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (min-width: 1023px) and (max-width: 1199px) {
  .sliderHeader .display-on-rows:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.green {
  color: #00DB66;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ECF0F1;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-clean {
  padding-top: 50px;
  background-color: #ECF0F1;
  color: #4b4c4d;
  position: relative;
}

.footer-clean .social {
  position: relative;
}

.footer-clean .social-icons {
  position: absolute;
  bottom: 53px;
  -webkit-transform: translateX(-130px);
          transform: translateX(-130px);
}

.footer-clean .social-icons a {
  margin: 0 25px;
  padding: 0;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 14px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.footer-clean ul a:hover {
  color: #FF5432;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-clean .item.logistic-partners {
    position: static;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social {
    text-align: center;
  }
  .footer-clean .social-icons {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-top: 30px;
  }
  .footer-clean .social-icons a {
    margin: 0 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-clean .social-icons {
    position: absolute;
    -webkit-transform: none;
            transform: none;
    margin-top: 30px;
    right: 30px;
  }
  .footer-clean .social-icons a {
    margin: 0 15px;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
  width: 100%;
  background-color: #fff;
}

.footer-clean .copyright > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #30343F;
}

.footer-clean .copyright p {
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean .copyright a {
  color: inherit;
}

.footer-clean .copyright a:hover {
  color: #FF5432;
}

.footer-clean .copyright .container img {
  width: 87px;
  height: 30px;
}

.footer-content {
  position: relative;
}

.footer-content .logistic-partners {
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav.nav-tabs.sub-menu {
  background: #30343f;
}

.navbar-light .navbar-brand {
  color: #7e0a14;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  width: 160px;
}

.header {
  background-color: #eceff1;
}

.la.la-shopping-cart {
  font-size: 40px;
  line-height: 40px;
}

.fa.fa-angle-down {
  color: #e40000;
}

.sub-menu .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border: none;
}

.sub-menu .nav-link.active {
  color: #ff5432;
  background: transparent;
  border: none;
}

.sub-menu .nav-link:hover {
  color: #ff5432;
  border: none;
}

@media (max-width: 1199px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .col-md-9 {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto";
}

.nav-tabs.main-nav .nav-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: initial;
}

.nav-tabs.main-nav .nav-link {
  color: #30343f;
  font-weight: 900;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  border-collapse: collapse;
}

.nav-tabs.main-nav .nav-link:hover {
  color: #ff5432;
}

.nav-tabs.main-nav .nav-link.active {
  color: #ff5432;
  border-bottom: 2px solid #ff5432;
}

.navbar-nav {
  width: 100%;
  position: relative;
}

.navbar-nav .nav-item:first-child {
  margin: 0 16px 0 40px;
}

.navbar-nav #navbar-item-third {
  margin-left: 30px;
  position: relative;
  display: inline-block;
}

.navbar-nav .dropdown-basket {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -100px;
  width: 260px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding: 10px;
}

.navbar-nav .dropdown-basket .dropdown-basket-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-nav .dropdown-basket .dropdown-basket-product img {
  width: 40px;
  height: 59px;
}

.navbar-nav .dropdown-basket .dropdown-basket-product button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
}

.navbar-nav .dropdown-basket .dropdown-basket-product button:hover path {
  fill: #7e0a14;
}

.navbar-nav .dropdown-basket .dropdown-basket-product .dropdown-basket-product-text {
  margin-left: 10px;
}

.navbar-nav .dropdown-basket .dropdown-basket-product .dropdown-basket-product-text a {
  font-size: 14px;
  font-weight: 900;
  line-height: 2px;
}

.navbar-nav .dropdown-basket .dropdown-basket-delivery {
  background: #ecf0f1;
  margin-top: 10px;
  padding: 30px 30px 22px 20px;
  text-align: right;
}

.navbar-nav .dropdown-basket .dropdown-basket-delivery p {
  font-size: 14px;
  font-weight: 300;
}

.navbar-nav .dropdown-basket .dropdown-basket-delivery span {
  font-weight: 900;
}

.navbar-nav .dropdown-basket .dropdown-basket-delivery img {
  margin-bottom: 6px;
}

.navbar-nav .dropdown-basket .dropdown-basket-buy {
  height: 45px;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

.navbar-nav .dropdown-basket .dropdown-basket-buy div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.navbar-nav .dropdown-basket .dropdown-basket-buy .price {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 300;
}

.navbar-nav .dropdown-basket .dropdown-basket-buy .dropdown-basket-buy-box {
  background: #e40000;
}

.navbar-nav .dropdown-basket .dropdown-basket-buy .dropdown-basket-buy-box a {
  color: #fff;
  font-weight: 900;
}

.navbar-nav #navbar-item-third:hover .dropdown-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav .nav-item:last-child {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

.navbar-nav .nav-item:last-child a i {
  margin-left: 20px;
}

.top-categories .nav-item {
  border-bottom: 1px solid #e5e5e5;
}

.top-categories .nav-item a:hover {
  border-bottom: 2px solid #ff5432;
  padding-bottom: 16px;
}

.btn.btn-lg.btn-search {
  /*background-color: #7E0A14;*/
  color: white;
  border: none;
  width: 11%;
  padding: 0px 25px;
  border-radius: 0;
  margin: 0 auto;
}

.btn.btn-lg.btn-search i {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}

.search-form {
  background-color: #7e0a14;
  padding: 2px;
  width: 660px;
  margin-left: 12px;
}

.search-form .search-input {
  width: 53%;
  font-size: 14px;
  padding: 7px 20px;
  margin: 0;
  border: none;
  border-radius: 0;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form .search-input::-webkit-input-placeholder {
  color: rgba(48, 52, 63, 0.5);
}

.search-form .search-input:-ms-input-placeholder {
  color: rgba(48, 52, 63, 0.5);
}

.search-form .search-input::-ms-input-placeholder {
  color: rgba(48, 52, 63, 0.5);
}

.search-form .search-input::placeholder {
  color: rgba(48, 52, 63, 0.5);
}

.search-form .dropdown,
.dropleft,
.dropright,
.dropup {
  background-color: rgba(48, 52, 63, 0);
}

.search-form .dropdown {
  background: white;
  padding: 10px 20px;
  font-size: 14px;
  width: 36%;
  height: 41px;
  outline: none;
  border-left: 1px solid #ecf0f1;
  position: relative;
}

.dropdown-menu {
  width: 100%;
}

.search-form .dropdown-toggle {
  width: 100%;
  color: #30343f;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.search-form .dropdown-toggle:after {
  color: #e40000;
  content: "\f107";
  font-family: FontAwesome;
  border-top: none;
  vertical-align: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-clean .item.social > a {
  border: none;
}

.social div a {
  padding: 10px;
}

@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 10px;
  }
  .navbar .search-form {
    margin-left: 0;
    width: 100%;
  }
  .navbar .search-form .btn.btn-lg.btn-search {
    padding: 0 10px 0 7px;
  }
  .navbar .search-form .dropdown-toggle:after {
    top: 12px;
  }
  .navbar .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav li:last-child {
    position: static;
    margin: 0;
  }
  .navbar-nav .nav-item:first-child {
    margin: 0;
  }
  .navbar-nav #navbar-item-third {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .navbar .search-form {
    margin-left: 0;
    width: 100%;
  }
  .navbar .search-form .btn.btn-lg.btn-search {
    padding: 0 10px 0 7px;
  }
  .navbar .search-form .dropdown-toggle:after {
    top: 12px;
  }
  .navbar .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar .nav li:last-child {
    position: static;
    margin: 0;
  }
  .navbar-nav .nav-item:first-child {
    margin: 0;
  }
  .navbar-nav #navbar-item-third {
    margin-left: 0px;
  }
}

.sliderHeader {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sliderHeader h3 {
  color: #30343F;
  font-size: 23px;
  line-height: 26px;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliderHeader h3 strong {
  font-weight: 900;
}

.sliderHeader h3 span {
  font-weight: 900;
}

.sliderHeader h3 span.green {
  color: #08CB7B;
}

.sliderHeader h3 span.red {
  color: #FF0046;
}

.sliderHeader h3 span.blue {
  color: #1C8DD5;
}

.sliderHeader .dropdown {
  display: inline-block;
}

.sliderHeader .dropdown button {
  color: #E40000;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  display: inline-block;
}

.sliderHeader h5 {
  color: #30343F;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}

.sliderHeader a {
  font-size: 14px;
  color: #FF5432;
  font-weight: 900;
  position: relative;
}

.book-slider .slick-slide, .book-cards .slick-slide {
  margin: 10px;
}

.book-slider .card, .book-cards .card {
  border-radius: 0;
  margin-bottom: 30px;
}

.book-slider .card .hearth, .book-cards .card .hearth {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  background: white;
  display: block;
  padding: 4px 6px;
  color: #2E294E;
  position: relative;
}

.book-slider .card .hearth span, .book-cards .card .hearth span {
  width: 0;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 30px;
  top: -1px;
  padding: 3px 6px;
  background: white;
  z-index: 99;
  font-weight: 300;
}

.book-slider .card .hearth:hover, .book-cards .card .hearth:hover {
  color: #FF5432;
  width: auto;
}

.book-slider .card .hearth:hover span, .book-cards .card .hearth:hover span {
  width: 105px;
  display: block;
}

.book-slider .card .hearth.active, .book-cards .card .hearth.active {
  background: #A90000;
  border-color: #A90000;
  color: white;
}

.book-slider .card .hearth.active .fa:before, .book-cards .card .hearth.active .fa:before {
  content: "\f004";
}

.book-slider .card .hearth.active:hover, .book-cards .card .hearth.active:hover {
  width: 30px;
  background: #fff;
  border: 1px solid #A90000;
  color: #A90000;
}

.book-slider .card .hearth.active:hover span, .book-cards .card .hearth.active:hover span {
  display: none;
}

.book-slider .card-body, .book-cards .card-body {
  padding-bottom: 0;
  text-align: center;
  padding-top: 5px;
}

.book-slider .card-body p, .book-cards .card-body p {
  color: #30343F;
  font-size: 11px;
  line-height: 16px;
  font-weight: 300;
  margin-bottom: 2px;
}

.book-slider .card-body h5, .book-cards .card-body h5 {
  font-size: 14px;
  line-height: 18px;
  color: #30343F;
  font-weight: 900;
}

.book-slider .card-body .card-title, .book-cards .card-body .card-title {
  margin-bottom: 25px;
}

.book-slider .card-footer, .book-cards .card-footer {
  margin: 0 -14px;
  padding: 0 20px;
  border-top: 1px solid #E5E5E5;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-slider .card-footer .price, .book-cards .card-footer .price {
  font-size: 14px;
  color: #7E0A14;
  font-weight: 900;
}

.arrowSection {
  background: #ECF0F1;
  padding: 0 30px;
}

.arrowSection .slickArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowSection .slickArrows .slick-arrow {
  position: static;
  -webkit-transform: none;
          transform: none;
  width: 60px;
  height: 45px;
  background: white;
  margin: 5px;
  font: normal normal normal 0 FontAwesome;
}

.arrowSection .slickArrows .slick-next:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #E40000;
  font-size: 20px;
  content: "\f105";
}

.arrowSection .slickArrows .slick-prev:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #E40000;
  font-size: 20px;
  content: "\f104";
}

.arrowSection .see-all-button {
  margin-left: 90px;
}

.arrowSection .see-all-button a {
  font-size: 14px;
  font-weight: 900;
  white-space: nowrap;
  padding: 15px 0;
}

.newsletter {
  padding-top: 80px;
  padding-bottom: 80px;
}

.newsletter h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 37px;
  line-height: 42px;
  font-weight: 300;
  text-align: center;
}

.newsletter p {
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.newsletter .bell-icon {
  margin: 0 auto;
  display: block;
}

.newsletter label {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.newsletter label input[type="radio"] {
  margin-bottom: 30px;
}

.newsletter .newsletter-submit {
  margin-top: 45px;
  border: 2px solid #7e0a14;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
}

@media screen and (max-width: 768px) {
  .newsletter .newsletter-submit {
    width: auto;
    display: block;
  }
}

.newsletter .newsletter-submit label {
  margin: 0;
  width: calc(100% - 82px);
}

.newsletter .newsletter-submit input {
  font-size: 14px;
  padding: 7px 23px;
  margin: 0;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newsletter .newsletter-submit button {
  -webkit-appearance: none;
  border: none;
  color: #e40000;
  font-size: 14px;
  font-weight: 900;
  background: none;
}

@media (max-width: 767px) {
  .newsletter .col-lg-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .newsletter-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio-inline {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-inline .radio-box {
  cursor: pointer;
}

.radio-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-inline .checkmark {
  position: absolute;
  -webkit-transform: translate(-23px, 1px);
          transform: translate(-23px, 1px);
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
}

.radio-inline .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-box input:checked ~ .checkmark {
  border: 1px solid #E40000;
}

.radio-box input:checked ~ .radio-box-name {
  color: #E40000;
}

.radio-box input:checked ~ .checkmark:after {
  display: block;
}

.radio-box .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E40000;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .arrowSection .see-all-button {
    margin-left: 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .display-on-rows h5 {
    text-align: left;
  }
  .display-on-rows a {
    margin-right: 20px;
  }
  .newsletter .container form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .newsletter .container form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .container form div .checkmark {
    -webkit-transform: translate(-40px, 1px);
            transform: translate(-40px, 1px);
  }
  .newsletter .container form .newsletter-submit {
    -webkit-transform: translateX(65%);
            transform: translateX(65%);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .newsletter .container form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .container form div {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.hero {
  margin-top: 30px;
  height: 410px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: auto;
  }
  .hero .slick-slider .slick-prev.slick-arrow {
    left: 30%;
  }
  .hero .slick-slider .slick-next.slick-arrow {
    left: 50%;
  }
}

.hero .slick-slider {
  margin-bottom: 0;
}

.hero .slick-slider .slick-slide {
  height: 410px;
}

@media screen and (max-width: 768px) {
  .hero .slick-slider .slick-slide {
    height: 100vh;
    padding: 30px;
  }
  .hero .slick-slider .slick-slide .hero {
    margin-top: 0px;
  }
}

.hero .slick-slider .slick-slide .slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 410px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero .slick-slider .slick-slide .slide {
    height: 100vh;
  }
}

.hero .slick-slider .slick-slide .slide img {
  position: absolute;
  height: auto;
  width: auto;
}

@media screen and (max-width: 768px) {
  .hero .slick-slider .slick-slide .slide img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.hero .slick-slider .slick-slide .slide.small {
  height: 450px;
}

.hero .slick-slider .slick-slide .slide.small img {
  height: 450px;
}

.hero .slick-slider .slick-slide .slide .postInfo {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  width: 290px;
  height: 390px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .hero .slick-slider .slick-slide .slide .postInfo {
    position: static;
    top: auto;
    right: auto;
  }
}

.hero .slick-slider .slick-slide .slide .postInfo h2 {
  font-size: 37px;
  line-height: 42px;
  color: #30343F;
  font-weight: 300;
}

.hero .slick-slider .slick-slide .slide .postInfo p {
  font-size: 11px;
  line-height: 16px;
  font-weight: 300;
  color: #30343F;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.hero .slick-slider .slick-slide .slide .postInfo .badge {
  height: 22px;
}

.hero .slick-slider .slick-slide .slide .postInfo .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #7E0A14;
  color: #7E0A14;
  font-size: 37px;
  line-height: 26px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .slick-slider .slick-slide .slide .postInfo .price .fa {
  font-size: 30px;
  color: #E40000;
  margin-right: 20px;
}

.hero .slick-slider .slick-slide .slide .postInfo a.button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0;
}

.hero .slick-slider .slick-slide .slide a:hover {
  text-decoration: none;
}

.hero .slick-slider .slick-slide .slide h1 {
  text-align: center;
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;
  color: white;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1200px) {
  .hero .slick-slider .slick-slide .slide h1 {
    font-size: 51px;
    line-height: 55px;
  }
}

@media screen and (max-width: 982px) {
  .hero .slick-slider .slick-slide .slide h1 {
    font-size: 39px;
    line-height: 45px;
  }
}

.hero .slick-slider .slick-arrow {
  -webkit-transform: none;
          transform: none;
  width: 60px;
  height: 45px;
  background: white;
  margin: 5px;
  z-index: 99;
  font: normal normal normal 0 FontAwesome;
  top: auto;
}

.hero .slick-slider .slick-next {
  left: 80px;
  bottom: 10px;
}

.hero .slick-slider .slick-next:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #E40000;
  font-size: 20px;
  content: "\f105";
}

.hero .slick-slider .slick-prev {
  left: 10px;
  bottom: 10px;
}

.hero .slick-slider .slick-prev:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #E40000;
  font-size: 20px;
  content: "\f104";
}

.hero .home-page-slider-small .postInfoSmall {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  top: 0;
  left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .home-page-slider-small .postInfoSmall h3 {
  font-size: 23px;
  line-height: 26px;
  font-weight: 300;
  color: #30343F;
  text-align: center;
  margin: 10px;
  width: 100%;
}

.hero .home-page-slider-small .postInfoSmall h3 strong {
  font-size: 37px;
  font-weight: bold;
  line-height: 52px;
}

.hero .home-page-slider-small .postInfoSmall h3 span {
  font-size: 23px;
  line-height: 50px;
  font-weight: bold;
  color: #FFCC00;
}

.hero .home-page-slider-small .postInfoSmall a.button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0;
}

.hero .home-page-slider-small .slick-slide {
  height: 450px;
}

.hero .home-page-slider-small .slick-next, .hero .home-page-slider-small .slick-prev {
  bottom: 65px;
}

@media screen and (max-width: 768px) {
  .mini-menu {
    display: none;
  }
}

.mini-menu .slick-element {
  font-size: 11px;
  margin-top: 26px;
  font-weight: 300;
  text-align: center;
}

.mini-menu .slick-element:hover {
  color: #004386;
  cursor: pointer;
}

.mini-menu .slick-element hr {
  border: none;
  margin-top: 20px;
  margin-bottom: 0;
  height: 2px;
  background: white;
}

.mini-menu .slick-current .slick-element {
  color: #ca061e;
  font-weight: bold;
}

.mini-menu .slick-slide {
  padding: 0 10px;
  position: relative;
  max-width: 25%;
}

.mini-menu .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.slide .postInfo .badge-secondary {
  background: #958466;
}

.slide .postInfo h2 {
  padding: 0 31px 0 18px;
}

@media (max-width: 767px) {
  .home-page-slider-small .slick-list {
    padding-bottom: 30px;
  }
}

.adverts1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.adverts1 .content {
  position: relative;
}

.adverts1 .content img {
  max-width: 100%;
}

.adverts1 .content .ads {
  margin-bottom: 30px;
}

.adverts1 .content a.button {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: auto;
}

@media (max-width: 767px) {
  .adverts1 .content a.button {
    padding: 5px 15px;
    height: 30px;
    right: 10px;
    bottom: -12px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .ads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.comments {
  margin-top: 50px;
  margin-bottom: 30px;
}

.comments h2 {
  text-align: center;
  margin-bottom: 40px;
}

.comments .slide {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 15px 15px 40px 15px;
  padding: 20px 30px;
  width: auto !important;
}

.stars {
  width: 82px;
  height: 13px;
  margin-left: 5px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../img/stars-empty.svg");
}

.stars .dis {
  background-repeat: no-repeat;
  content: "";
  display: block;
  background-image: url("../img/stars.svg");
  width: 100%;
  height: 13px;
  margin-top: 1px;
}

.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.breadcrumbs a {
  color: #30343F;
  font-size: 11px;
  font-weight: 300;
}

.breadcrumbs .breadcrumb_last {
  color: #E40000;
}

.headerSection {
  border-bottom: 1px solid #E5E5E5;
}

.headerSection .page-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 568px) {
  .headerSection .page-settings {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.headerSection .page-settings > a {
  color: rgba(48, 52, 63, 0.5);
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}

.headerSection .page-settings > a:hover {
  color: #FF5432;
  text-decoration: none;
}

.headerSection .page-settings .with-dropdown {
  color: #30343F;
  font-size: 11px;
  margin-left: 30px;
}

@media screen and (max-width: 568px) {
  .headerSection .page-settings .with-dropdown {
    width: 100%;
  }
  .headerSection .page-settings .with-dropdown:first-of-type {
    margin-top: 20px;
  }
}

.headerSection .page-settings .with-dropdown .dropdown .dropdown-toggle {
  width: 170px;
  height: 30px;
  border-color: #E5E5E5;
  border-radius: 0;
  font-size: 11px;
  font-weight: 300;
  color: #30343F;
  background: #fff;
  text-align: left;
  position: relative;
}

.headerSection .page-settings .with-dropdown .dropdown .dropdown-toggle:after {
  color: #E40000;
  content: "\f107";
  font-family: FontAwesome;
  border-top: none;
  vertical-align: 0;
  position: absolute;
  right: 15px;
}

.headerSection .page-settings .with-dropdown .dropdown .dropdown-toggle:hover {
  border-color: #FF5432;
}

@media screen and (max-width: 568px) {
  .headerSection .page-settings .with-dropdown .dropdown .dropdown-toggle {
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
}

.products-list .desc {
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.products-list .desc p {
  margin-bottom: 0;
}

.products-list h4 {
  margin-bottom: 30px;
}

.products-list .filters {
  padding: 30px 0;
}

.products-list .filters .form-check {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-list .filters .form-check label {
  margin-right: 10px;
}

.products-list .filters .form-check .label {
  color: #30343F;
  font-size: 11px;
  font-weight: 300;
  height: auto;
  display: block;
}

.products-list .filters hr {
  margin: 20px 0;
}

.products-list .filters button.button {
  margin-top: 0;
}

.products-list .top10 {
  margin-top: 50px;
}

.products-list .top10 .card {
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.products-list .top10 .card img.card-img {
  width: 60px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-list .top10 .card .card-body {
  width: calc(100% - 90px);
  padding: 0 0 0 10px;
}

.products-list .top10 .card .card-body p {
  font-size: 11px;
  margin-bottom: 0;
  line-height: 16px;
}

.products-list .top10 .card .card-body h5 {
  line-height: 18px;
  margin: 0;
}

.products-list .top10 .card .card-footer {
  padding: 0 10px 0 0;
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.products-list .top10 .card .card-footer a img {
  width: 24px;
  height: 19px;
}

.products-list .top10 .card .card-footer .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7E0A14;
  font-size: 11px;
  line-height: 16px;
  font-weight: 900;
  position: relative;
}

.products-list .top10 .card .card-footer .price small {
  font-size: 9px;
  font-weight: 300;
  position: absolute;
  top: -10px;
  color: #30343F;
  right: 0;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.products-list .projector_number {
  margin: -15px  -18px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #e5e5e5;
}

.products-list .projector_number button {
  -webkit-appearance: none;
  width: 40px;
  border: none;
}

.products-list .projector_number input {
  height: 100%;
  width: 30px;
  margin: 0;
  -webkit-appearance: none;
  border: none;
  text-align: center;
}

.products-list .card-wide {
  padding: 20px;
}

.products-list .card-wide .card-img {
  width: 100%;
  height: auto;
}

.products-list .card-wide .card-body .card-text {
  text-align: left;
}

.products-list .card-wide .card-body .card-title {
  text-align: left;
}

.products-list .card-wide .card-body p {
  text-align: left;
}

.products-list .card-wide .card-footer {
  margin: 0 0 0 auto;
  width: 100%;
  border: 1px solid #e5e5e5;
  bottom: 0;
  margin-top: auto;
  top: auto;
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 568px) {
  .products-list .card-wide .card-footer {
    position: static;
  }
}

.products-list .card-wide .hearth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #707070;
  -webkit-box-shadow: 1.31px 1.51px 7px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 1.31px 1.51px 7px 0px rgba(0, 0, 0, 0.28);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-list .card-wide .hearth:hover {
  width: 30px;
}

.products-list .card-wide .hearth:hover span {
  right: 30px;
  top: 5px;
  left: auto;
}

.pagination-section {
  background: #ECF0F1;
  padding: 30px;
}

.pagination-section .pagination {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pagination-section .pagination .page-item {
  margin: 0 5px;
}

.pagination-section .pagination .page-item .page-link {
  width: 60px;
  height: 45px;
  color: #30343F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-size: 14px;
  font-weight: 300;
}

.pagination-section .pagination .page-item .page-link .fa {
  color: #E40000;
  font-size: 20px;
}

.pagination-section .pagination .page-item.current .page-link {
  color: #E40000;
  border-bottom: 2px solid #E40000;
}

.pagination-section .pagination .page-item:hover .page-link {
  background: white;
  color: #E40000;
  border-bottom: 2px solid #E40000;
}

.pagination-section .pagination .page-item input {
  height: 45px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  padding: 15px 20px;
}

.card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-box {
  margin-top: 20px;
  padding-bottom: 65px;
}

.product-box hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-box .price-box-contact {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
}

.product-box .price-box-contact .price-box-contact-icon {
  margin-left: 20px;
}

.product-box .price-box-contact .price-box-contact-text {
  text-align: right;
  font-weight: 300;
}

.product-box .price-box-contact .price-box-contact-text .price-box-contact-text-first {
  font-size: 14px;
}

.product-box .price-box-contact .price-box-contact-text .price-box-contact-text-second {
  font-size: 11px;
}

.product-box .price-box-contact .price-box-contact-text .price-box-contact-text-third svg {
  margin-left: 10px;
}

.product-box .price-box .price-box-delivery {
  background: #ecf0f1;
  margin-top: 10px;
  padding: 30px 30px 22px 20px;
  text-align: right;
}

.product-box .price-box .price-box-delivery p {
  font-size: 14px;
  font-weight: 300;
}

.product-box .price-box .price-box-delivery span {
  font-weight: 900;
}

.product-box .price-box .price-box-delivery img {
  margin-bottom: 6px;
}

.product-box .price-box a {
  font-size: 14px;
  font-weight: 900;
}

.product-box .price-box a span {
  margin-left: 9px;
}

.product-box .price-box h1 {
  color: #7E0A14;
  margin: 15px 0 0 0;
  text-align: right;
}

.product-box .price-box .price-box-vat {
  font-size: 11px;
  font-weight: 300;
  text-align: right;
}

.product-box .price-box .price-box-save {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

.product-box .price-box .price-box-save span {
  font-weight: 900;
}

.product-box .price-box .price-box-link {
  text-align: right;
}

.product-box .price-box .price-box-basket {
  height: 45px;
  margin-top: 26px;
}

.product-box .price-box .price-box-basket .price-box-basket-amount {
  width: 32%;
  border: 1px solid #E5E5E5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-box .price-box .price-box-basket .price-box-basket-amount p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.product-box .price-box .price-box-basket .price-box-basket-amount button {
  background: none;
  border: none;
  padding: 0;
}

.product-box .price-box .price-box-basket .price-box-basket-amount button:first-child {
  margin-right: 10px;
}

.product-box .price-box .price-box-basket .price-box-basket-amount button:last-child {
  margin-left: 10px;
}

.product-box .price-box .price-box-basket .price-box-basket-add {
  width: 68%;
  background: #E40000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-box .price-box .price-box-basket .price-box-basket-add span {
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  margin-left: 9px;
}

.product-box .product-box-social a {
  margin-right: 25px;
}

.product-box h4 {
  font-size: 11px;
  font-weight: 300;
}

.product-box .card-title {
  font-size: 37px;
  font-weight: 700;
}

.product-box .product-box-review {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-box .product-box-review p {
  margin: 0 5px 0 0;
  font-size: 14px;
  font-weight: 300;
}

.product-box .product-box-review .stars {
  margin-bottom: 5px;
}

.product-box .product-box-review a {
  margin-left: 5px;
}

.product-box .product-box-review a svg {
  margin-left: 10px;
}

.product-box .product-box-reviews {
  opacity: .5;
}

.product-box .product-box-available {
  font-size: 14px;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-box .product-box-available p {
  margin: 0 10px 0 8px;
  opacity: .5;
}

.product-box .product-box-available .green {
  font-weight: 900;
}

.product-box .product-box-lists ul {
  list-style-type: none;
}

.product-box .product-box-lists ul li {
  font-weight: 300;
}

.product-box .product-box-lists ul li strong {
  font-weight: 900;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .container .product-box .price-box .price-box-basket .price-box-basket-amount button:first-child {
    margin-right: 5px;
  }
  .container .product-box .price-box .price-box-basket .price-box-basket-amount button:last-child {
    margin-left: 5px;
  }
  .container .product-box .price-box .price-box-basket .price-box-basket-add span {
    margin-left: 4px;
    font-size: 9px;
  }
}

.login-page .content {
  padding: 50px 0;
  background: #ECF0F1;
  border-bottom: 50px solid #fff;
}

.login-page input[type="text"], .login-page input[type="email"], .login-page input[type="password"], .login-page input[type="tel"] {
  border: 1px solid #E5E5E5;
  height: 45px;
  padding: 20px;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 1.4rem;
  color: #30343F;
  font-weight: 300;
}

.login-page .form-check {
  padding-left: 0;
  margin-bottom: 15px;
}

.login-page .form-check label {
  margin-right: 10px;
}

.login-page .content-section {
  background: white;
  padding: 20px;
}

.login-page .content-section h3 {
  margin-bottom: 25px;
}

.login-page button {
  margin-bottom: 0;
}

.tabs {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ECF0F1;
}

.tabs .content {
  background: white;
}

.tabs .nav-tabs .nav-item {
  background: white;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 26px;
  color: #30343F;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #e5e5e5;
}

.tabs .nav-tabs .nav-item.active {
  color: #E40000;
  border-bottom: 1px solid #E40000;
}

.tabs .nav-tabs .nav-item:hover {
  border-bottom: 1px solid #E40000;
}

@media screen and (max-width: 768px) {
  .tabs .nav-tabs .nav-item {
    font-size: 1.6rem;
    height: auto;
  }
}

.tabs .tab-pane {
  padding: 30px;
}

.tabs .comments .comment {
  background: #FAFAFA;
  margin: 0 0 10px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabs .comments .comment .author {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
}

.tabs .comments .comment .rating {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  margin-left: 30px;
}

.tabs .comments .comment .like {
  font-size: 11px;
  line-height: 20px;
  font-weight: 300;
  color: #31BA34;
}

.tabs .comments .comment .like .fa {
  margin-right: 5px;
  font-size: 16px;
}

.tabs .comments .comment .dislike {
  font-size: 11px;
  line-height: 20px;
  font-weight: 300;
  color: #FF0000;
  margin-left: 10px;
}

.tabs .comments .comment .dislike .fa {
  margin-right: 5px;
  font-size: 16px;
}

.tabs textarea, .tabs input {
  padding: 15px 20px;
  font-size: 1.4rem;
  color: #30343F;
  border: 1px solid #E5E5E5;
}

.tabs input {
  height: 45px;
}

.price-box {
  padding: 10px;
  -webkit-box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=styles.css.map */